body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 8px 12px;
    border: 1px solid #ccc;
}

th {
    background-color: #f4f4f4;
}

input[type="text"], input[type="number"] {
    margin-right: 10px;
}

button {
    padding: 6px 12px;
}

.userSortDropdown {
    display: block;
    font-size: 1.5em;
    margin: 0.83em 0;
    font-weight: bold;
}