body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 10px;
    background-color: #f4f4f4;
}

.container {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

.cart-list {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    grid-row-gap: 20px;
    /*grid-auto-rows: max-content;*/
}

.cart-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    /*overflow: hidden;*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
}

.cart-item img {
    width: 20%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.cart-item-desc {
    width: 55%;
    padding: 15px;
    display: inline-block;
}

.cart-item-desc h2 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.cart-item-desc p {
    font-size: 14px;
    margin: 10px 0;
}

.cart-item-desc .add-to-cart-button {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #cc812c;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.cart-item-desc .add-to-cart-button:hover {
    background-color: #7a4209;
}

.cart-item-desc p.price {
    font-size: 28px;
    font-weight: bold;
    color: #d2730e;
}

.cart-item-buttons {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inc-count-button {
    width: 20%;
}

.cart-item-buttons h6 {
    width: 20%;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.dec-count-button {
    width: 20%;
}


.button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    color: black;
    text-align: center;
}

.footer p {
    font-size: 35px;
    margin: 10px 0;
}