<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <link th:href="@{/Cart_Page.css}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/Cart_Page.js"></script>
</head>

<body>
<div class="container">
    <h1>Cart</h1>

    <div class="footer">
        <p>Total Price:     $<span id="total-price"></span></p>
    </div>

    <!--This div displays a message when cart is empty-->
    <div id="empty-cart-message" style="display: none; text-align: center;">
        <h2>Your cart is empty</h2>
        <p><a href="/amazinBookstore/customer/books" id="go-back-link">Go back to books</a></p>
    </div>

    <div id="cart-list" class="cart-list" th:data-cart-id="${cart.getId()}">

        <!--This div represents the card for each book in the page-->
        <div class="cart-item" th:each="cartItem : ${cart.getCartItems()}"
             th:data-item-id="${cartItem.getId()}">
            <img th:src="@{${cartItem.getBook().getUrl()}}" alt="Book cover">
            <div class="cart-item-desc">
                <h2 th:text="${cartItem.getBook().getTitle()}">Book Title</h2>
                <p class="price" th:text="${cartItem.getBook().getPriceAsString()}"></p>
            </div>
            <div class="cart-item-buttons">
                <div class="button-inc-count-container">
                    <button type="submit" class="inc-count-button">-</button>
                </div>
                <h3 th:text="${cartItem.getQuantity()}">0</h3>
                <div class="button-dec-count-container">
                    <button type="submit" class="dec-count-button">+</button>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>