<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <link th:href="@{/Cart_Page.css}" rel="stylesheet">
</head>

<body>
<div class="container">
    <h1>Cart</h1>

    <div class="footer">
        <p>Total Price:     $45.63</p>
    </div>

    <div class="cart-list">

        <!--This div represents the card for each book in the page-->
        <div class="cart-item" th:each="book : ${books}">
            <img th:src="@{${book.url}}" alt="Book cover">
            <div class="cart-item-desc">
                <h2 th:text="${book.title}">Book Title</h2>
                <p class="price" th:text="${book.getPriceAsString()}"></p>
            </div>
            <div class="cart-item-buttons">
                <!-- This div contains the button that sends the post request with the-->
                <!-- book id of the book to be added to the cart-->
                <div class="button-inc-count-container">
<!--                    <form th:action="@{/cart}" method="post">-->
<!--                        <input type="hidden" th:name="bookId" th:value="${book.id}"/>-->
                        <button type="submit" class="inc-count-button">-</button>
<!--                    </form>-->
                </div>
                <h3 th:text="${book.getId()}">0</h3>
                <div class="button-dec-count-container">
<!--                    <form th:action="@{/cart}" method="post">-->
<!--                        <input type="hidden" th:name="bookId" th:value="${book.id}"/>-->
                        <button type="submit" class="dec-count-button">+</button>
<!--                    </form>-->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>