<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer - All Books</title>
    <link th:href="@{/Customer_Books.css}" rel="stylesheet" >
</head>
<body>

<div class="container">
    <a th:href="@{/amazinBookstore/cart}">
        <button class="cart_button" type="button" style="float: right">Cart</button>
    </a>

    <!-- Sorting Dropdown -->
    <h2>Sort Books</h2>
    <select id="sortDropdown" onchange="sortBooks()">
        <option value="">Default</option>
        <option value="alphabetical">Alphabetical</option>
    </select>

    <script>
        // Function to handle sorting
        function sortBooks() {
            const selectedValue = document.getElementById("sortDropdown").value;
            // Redirect to the original URL if "Default" is selected
            if (!selectedValue) {
                window.location.href = `/amazinBookstore/customer/books`;
            } else {
                const url = `?sort=${selectedValue}`;
                window.location.href = `/amazinBookstore/customer/books${url}`;
            }
        }

        // Set the selected value in the dropdown based on the URL
        document.addEventListener("DOMContentLoaded", function () {
            const urlParams = new URLSearchParams(window.location.search);
            const sortParam = urlParams.get("sort");
            if (sortParam) {
                document.getElementById("sortDropdown").value = sortParam;
            }
        });
    </script>




    <!-- Books Display -->
    <h1>All Books</h1>
    <div class="books-grid">

        <!--This div represents the card for each book in the page-->
        <div class="book-card" th:each="book : ${books}">
            <img th:src="@{${book.url}}" alt="Book cover">
            <div class="book-card-body">
                <h5 th:text="${book.title}">Book Title</h5>
                <p><strong>Author(s):</strong> <span th:text="${book.getAuthorNamesAsString()}"></span></p>
                <p><strong>Genre:</strong> <span th:text="${book.genre}"></span></p>
                <p><strong>Publisher:</strong> <span th:text="${book.publisherName}"></span></p>
                <p><strong>Year:</strong> <span th:text="${book.publicationYear}"></span></p>
                <p class="price" th:text="${book.getPriceAsString()}"></p>

                <!-- Add to Cart Button -->
                <div class="button-container">
                    <form th:action="@{/api/cart}" method="post">
                        <input type="hidden" th:name="bookId" th:value="${book.id}" />
                        <button type="submit" class="add-to-cart-button">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>
