<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer - All Books</title>
    <link th:href="@{/Customer_Books.css}" rel="stylesheet" >
</head>
<body>

<div class="container">
    <h1>All Books</h1>
    <div class="books-grid">
        <div class="book-card" th:each="book : ${books}">
            <img th:src="@{${book.url}}" alt="Book cover">
            <div class="book-card-body">
                <h5 th:text="${book.title}">Book Title</h5>
                <p><strong>Author(s):</strong> <span th:text="${book.getAuthorNamesAsString()}"></span></p>
                <p><strong>Genre:</strong> <span th:text="${book.genre}"></span></p>
                <p><strong>Publisher:</strong> <span th:text="${book.publisherName}"></span></p>
                <p><strong>Year:</strong> <span th:text="${book.publicationYear}"></span></p>
                <p class="price" th:text="${book.getPriceAsString()}"></p>

                <div class="button-container">
                    <form th:action="@{/cart}" method="post">
                        <input type="hidden" th:name="bookId" th:value="${book.id}" />
                        <button type="submit" class="add-to-cart-button">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>