<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <title>Amazin Online Bookstore</title>
    <link th:href="@{/Main_Page.css}" rel="stylesheet">
</head>

<body>
<div class="transparent-title">
    <h1>Amazin Online Bookstore</h1>
</div>

<div class="nav-buttons">
    <a th:href="@{/amazinBookstore/customer/books}">
        <button type="button" style="float: left">Customer</button>
    </a>
    <a th:href="@{/amazinBookstore/admin}">
        <button type="button" style="float: right">Admin</button>
    </a>
</div>

</body>
</html>